<header id="myHeader">
    <div class="left">
        <a routerLink="/home">
            <img class="logo" src="./assets/img/web-logo.png" alt="">
        </a>
    </div>
    <div class="center">
        <a href="#filmList" rel="follow, index">Danh sách phim</a>
        <a (click)="test()">Tin tức</a>
        <a href="#">Liên hệ</a>
    </div>
    <div class="right">
        <a routerLink="/login">
            <img src="./assets/img/avatar.png" alt="">
            <span>Đăng nhập</span>
        </a>
    </div>
</header>