<div class="logo navbar-brand text-center">
    <a routerLink="/home">Logo Admin</a>
</div>

<div class="content">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a routerLink="user-management" routerLinkActive="active" class="nav-link">
                <i class="fas fa-tasks"></i>
                <span>Quản lý người dùng</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="film-management" routerLinkActive="active" class="nav-link">
                <i class="fas fa-tasks"></i>
                <span>Quản lý phim</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="category-management" routerLinkActive="active" class="nav-link">
                <i class="fas fa-tasks"></i>
                <span>Quản lý thể loại</span>
            </a>
        </li>
    </ul>
</div>