<div class="wrapper">
    <div class="main-detail">
        <div class="col-sm-3 col-xs-4 poster">
            <img src="https://s3img.vcdn.vn/mobile/123phim/2019/05/chua-te-godzilla-godzilla-king-of-the-monsters-15578194027089_220x310.jpg">
            <button class="btn-buy" ng-click="buyTicket()">Mua vé</button>
        </div>
        <div class="col-sm-5 info">
            <div>
                <span>Ngày khởi chiếu</span>
                <br>
            </div>
            <div class="title">
                <h4 class="pt-2">Chúa Tể Godzilla - Godzilla: King of the Monsters</h4>
            </div>
            <div>
                <span>135 phút - 7 IMDb - 2D/Digital/3D/IMAX/4DX</span><br>
            </div>

        </div>
    </div>
</div>