<div class="wrapper p-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="title">
                <div class="box-header d-flex align-items-center justify-content-between m-1 mb-2">
                    <h5 class="box-title ">
                        <i class="fas fa-edit mr-2"></i>Sửa Phim
                    </h5>
                </div>
            </div>
            <div class="content">
                <form #updateFilmForm="ngForm" (ngSubmit)="updateFilm()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Mã Phim <span class="text-danger">*</span></label>
                                <input name="id" [(ngModel)]="currentFilm.id" disabled required type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Tên Phim <span class="text-danger">*</span></label>
                                <input name="title" [(ngModel)]="currentFilm.title" required #titleFilm='ngModel' type="text" class="form-control" value="">
                                <div *ngIf="titleFilm.errors && (titleFilm.touched || titleFilm.dirty)">
                                    <div class="alert alert-danger font-weight-bold" *ngIf="titleFilm.errors.required ">
                                        Vui lòng nhập tên phim
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Loại phim <span class="text-danger">*</span></label>
                                <select (change)="onChangeSelect($event.target.value)" name="id_category" [(ngModel)]="selectedValue" class="form-control">
                  <option *ngFor="let item of listCategory" value={{item.id}}>{{item.title}}</option>
                </select>
                            </div>


                            <div class="form-group">
                                <label for="">Mô Tả</label>
                                <textarea name="detail" [(ngModel)]="currentFilm.detail" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Ngày Khởi Chiếu <span class="text-danger">*</span></label>
                                <input name="date_opening" [(ngModel)]="currentFilm.date_opening" type="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Đánh Giá</label>
                                <input name="rate" [(ngModel)]="currentFilm.rate" type="number" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Hình Ảnh</label>
                                    <input type="file" (change)="onSelectedFile($event)" #files ngModel name="image" accept="image/*" class="form-control-file mt-2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Trailer</label>
                                <input name="trailer" [(ngModel)]="currentFilm.trailer" type="url" name="trailer" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button [disabled]="updateFilmForm.invalid" type="submit" class="btn btn-success mr-2" title="Lưu Phim"><i
              class="fa fa-plus mr-1"></i>
            Lưu</button>
                    <button class="btn btn-danger" title="Hủy" (click)="onCancel()">
            <i class="fa fa-trash mr-1"></i>Hủy
          </button>
                </form>
            </div>
        </div>
    </div>
</div>